  <form method="post">
    Nick:
    <input type="text" name="nick" />
    <br />
    Address:
    <input type="text" name="address" />
    <br />
    <input type="submit" value="Create new user" />
  </form>
  <h2>A selected few</h2>
  <table>
  	<tr>
        <th>Avatar</th>
        <th>Nick name</th>
        <th>Address</th>
	</tr>
    {% for user in users %}
      <tr>
      	<td><img src="{{user.avatar}}" alt="gravatar" /></td>
        <td><a href="/user/{{user.key}}">{{user.nickname}}</a></td>
        <td>{{user.address}}</td>
          <form method="post">
            <input type="hidden" name="key" value="{{user.key}}" />
            <input type="submit" value="X" />
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>